//* estilos4.css */

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #ffcc00;
    text-align: center;
}

p {
    text-align: justify;
    margin: 20px;
}

hr {
    border: 1px solid #ffcc00;
}

a {
    color: #ffcc00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    margin: 10px 0;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

iframe {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #1f1f1f;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}