header h1 {
  font-family: 'Georgia', serif;
  color: #f8d210;
}

footer {
  font-size: 0.9rem;
}
img {
    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center;
    display: block;
    max-width: 50%;
   
}